*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-ubuntu);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-avenir);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  /* padding: 40px; */
  max-width: 1200px;
  margin: 40px auto;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .page {
    padding: 6rem 1rem;
  }
}
