*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-mono);
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  /* padding: 40px; */
  max-width: 600px;
  margin: 40px auto;
}
